


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: 'Fraunces', 'Montserrat', serif;
    padding: 8.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.container{
    margin-right: 3rem;
    background-color:  hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    max-width: 36rem;
    border-radius: 10px;
}

.image{
    position: relative;
    
}

.image img{
    display: block;
    width: 280px;
    border-radius: 10px 0 0px 10px;
}

.content {
    padding: 1.5rem 2rem 0 2rem;
}

.content span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
}

.content h1{
    padding: 1rem 1.5rem 1.5rem 0;
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;

}

.content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.438rem;
    color:  hsl(228, 12%, 48%);
}

.price h2{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    font-weight: 700;
}

.price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.3rem;
    padding-top: 1.5rem;
}

.price h3{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 20;
    font-size: 0.813rem;
    text-decoration-line: line-through;
}

.container button{
    background-color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem;
    padding: 0.7rem;
    border-color:  hsl(158, 36%, 37%);
    border-radius: 8px;
    gap: 0.7rem;
    width: 100%;
    cursor: pointer;
    border-width: 0px;

}

.container button a{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    color: #ffff;
}

.container button:hover{
    background-color: #1a4032;
}
